/* Add CSS Styling */
.odd.third {
    background-color: hsl(314, 49%, 90%);
    font-family: Verdana, Dejavu Sans, sans-serif;
}
.two {
    color: blue;
    font-size: 36px;
}
.third{
    font-size: 24px;
}
.four {
    background-color: hsl(145, 61%, 80%);
}