/* Add CSS Styling */
.odd {
    background-color: hsl(315, 42%, 74%);
    font-family: Verdana, Dejavu Sans, sans-serif;
}
#two {
    color: blue;
    font-size: 36px;
}
.third{
    font-size: 24px;
}
.four {
    background-color: hsl(141, 47%, 57%);
    font-size: 24px;
    font-weight: bold;
}